@model IEnumerable<Sisgtfhka.Models.RolModel>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<p>
    <a asp-action="Create">Crear Nuevo Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Access.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profile.name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Menús", "ListMenus", new { id = item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
