@model Sisgtfhka.Extensions.PaginatedList<Sisgtfhka.Models.SerialProductModel>

@{
    ViewData["Title"] = "Seriales Vendidos de Productos Terminados ";
}

<h2>Seriales Vendidos de Productos Terminados </h2>

<p>
    <a asp-action="Import">Importar Serial de Producto Terminado</a> | 
    <a asp-action="LoadSerialTest">Cargar Serial de Producto de Prueba</a>
</p>


<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group">
        <p>
            Dato: <input type="text" class="form-control" placeholder="buscar.." name="SearchString" value="@ViewData["CurrentFilter"]" />
            <button type="submit" class="btn btn-info" data-toggle="popoverTp" data-trigger="focus" data-content="Buscar"><i class="fas fa-search"></i></button> |
            <a asp-action="Index">Refrescar</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(SerialProductModel => SerialProductModel.FirstOrDefault().Serial)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(SerialProductModel => SerialProductModel.FirstOrDefault().DateSale)</a>
            </th>
            <th>
                @Html.DisplayNameFor(SerialProductModel => SerialProductModel.FirstOrDefault().ProviderId)
            </th>
            <th>
                @Html.DisplayNameFor(SerialProductModel => SerialProductModel.FirstOrDefault().DistributorId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distributor.rif)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
         }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>

