@model Sisgtfhka.Models.AlienationModel

@{ 
    ViewData["Title"] = "Detalles de la Enajenación";
}


<h2>Detalles de la Enajenación</h2>

<div>
    <h4>Detalles de la Enajenación</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlienationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlienationDate)
        </dd>
        <hr />
        <div>
            <h3>Proveedor</h3>
        </div>
        <hr />
        <dt>
            Rif
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider.rif)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider.description)
        </dd>
        <hr />
        <div>
            <h3>Distribuidor</h3>
        </div>
        <hr />
        <dt>
            Rif
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distributor.rif)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distributor.description)
        </dd>
        <hr />
        <div>
            <h3>Cliente Final</h3>
        </div>
        <hr />
        <dt>
            Rif
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalClient.Rif)
        </dd>
        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalClient.Description)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Status == "PROCESADO")
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) 
    }
    |
    <a asp-action="Index">Regresar</a>
</div>

