@model Sisgtfhka.Models.FinalsClientsModel

@{
    ViewData["Title"] = "Borrar Cliente Final";
}

<h2>Borrar Cliente Final</h2>

<h3>¿Estás seguro que quieres eliminar este Cliente?</h3>
<div>
    <h4>Datos del Cliente Final a borrar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fiscalAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fiscalAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.enable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.enable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.creation_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.creation_date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
