@model IEnumerable<Sisgtfhka.Models.ReplacementModel>

@{
    ViewData["Title"] = "Lista de Repuestos";
    int idProduct = (int)ViewData["idProduct"];
}

<h2>Lista de Repuestos</h2>

<p>
    @Html.ActionLink("Agregar", "AddReplacements", new { productId = idProduct }, new { @style = "color:green;" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>                   
                    @Html.ActionLink("Borrar", "DeleteReplacements", new { id = item.id, productId = idProduct }, new { @style = "color:#F48E0B;" })
                </td>
            </tr>
        }
    </tbody>
</table>
