@model Sisgtfhka.Extensions.PaginatedList<Sisgtfhka.Models.WorkshopModel>

@{
    ViewData["Title"] = "Presupuestos";
    int RolId = int.Parse(ViewData["RolId"].ToString());
}

<h2>Presupuestos</h2>


<form asp-action="Billing" method="get" class="form-inline">
    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <p>
                    Dato: <input type="text" class="form-control" placeholder="buscar.." name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <button type="submit" class="btn btn-info" data-toggle="popoverTp" data-trigger="focus" data-content="Buscar"><i class="fas fa-search"></i></button> |
                    <a asp-action="Billing">Refrescar</a>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pull-right">
                <a asp-action="ExportPDF"
                   asp-route-searchString="@ViewData["CurrentFilter"]"
                   asp-route-dateBegin="@ViewData["dateBegin"]"
                   asp-route-dateEnd="@ViewData["dateEnd"]"
                   asp-route-pageBase="Billing"
                   class="btn " id="btnExportarPDF"><img src="/images/pdf-icon1.png" width="50" height="50"></a>
                <a asp-action="ExportExcel"
                   asp-route-searchString="@ViewData["CurrentFilter"]"
                   asp-route-dateBegin="@ViewData["dateBegin"]"
                   asp-route-dateEnd="@ViewData["dateEnd"]"
                   asp-route-pageBase="Billing"
                   class="btn " id="btnExportarExcel">
                    <img src="/images/EXCEL-ICON.png" width="60" height="50">
                </a>
                <a asp-action="AllStates">Ver Todos</a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p>
                    Fecha Desde: <input type="date" class="form-control" placeholder="buscar.." name="dateBegin" value="@ViewData["dateBegin"]" />
                    Fecha Hasta: <input type="date" class="form-control" placeholder="buscar.." name="dateEnd" value="@ViewData["dateEnd"]" />
                    <button type="submit" class="btn btn-info" data-toggle="popoverTp" data-trigger="focus" data-content="Buscar"><i class="fas fa-search"></i></button> |
                    <a asp-action="Billing">Refrescar</a>
                </p>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <p>

                </p>
            </div>
        </div>
    </div>
</form>



<div class="modal" tabindex="-1" role="dialog" id="login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-info">
                    Aprobación de Presupuesto
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <form asp-action="Approval" method="get" class="form-inline">
                <input id="code" name="code" class="form-control" type="hidden" />
                <div class="modal-body">
                    <h2 class="text-success">Detalle de la Orden de Taller</h2>
                    <hr />
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label">Numero de Orden</label>
                            <span id="numerOrder" name="numerOrder" class="modal-title"></span>
                        </div>
                        <div class="form-inline">
                            <label class="control-label">Serial</label>
                            <span id="serial" name="serial" class="modal-title"></span>
                        </div>
                        <div class="form-inline">
                            <label class="control-label">Model</label>
                            <span id="model" name="model" class="modal-title"></span>
                        </div>
                        <div class="form-inline">
                            <label class="control-label">Mark</label>
                            <span id="mark" name="mark" class="modal-title"></span>
                        </div>
                        <div class="form-inline">
                            <label class="control-label">Tipo de Equipo</label>
                            <span id="kindEquipment" name="kindEquipment" class="modal-title"></span>
                        </div>
                        <div class="form-inline">
                            <label class="control-label">Rif Vendedor</label>
                            <span id="rifSeller" name="rifSeller" class="modal-title"></span>
                        </div>
                        <div class="form-inline">
                            <label class="control-label">Fecha de Recepcion</label>
                            <span id="receptionDate" name="receptionDate" class="modal-title"></span>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="control-label">Estatus</label><br />
                        <select class="form-control" id="ApprovalList" name="ApprovalList" asp-items="@(new SelectList(ViewBag.Opciones,"Value","Text"))"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <textarea class="form-control" type="text" id="ExtraObservation" name="extraObservation" cols="75">@ViewData["extraObservation"]</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" data-toggle="popoverTp" data-trigger="focus" data-content="Aceptar">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnhide">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().NumerOrder)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().Serial)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().Model)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().Mark)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().Distributor.description)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().Distributor.rif)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().StateOrderId)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(workshopModel => workshopModel.FirstOrDefault().Contact)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(AlienationModel => AlienationModel.FirstOrDefault().Distributor.rifSeller)</a>
            </th>
            <th>
                <a asp-action="Billing" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(AlienationModel => AlienationModel.FirstOrDefault().ReceptionDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (RolId < 8)
                {
                    <a asp-action="Binnacle" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.NumerOrder)</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.NumerOrder)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distributor.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distributor.rif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statesOrder.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distributor.rifSeller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceptionDate)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditBilling", new { id = item.Id }) @Html.Raw(" |")

                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |

                @Html.ActionLink("PDF", "GetPdf", new { id = item.Id })
            </td>
            <td>
                <input type="button" id="btnAprobacion" name="" class="btn btn-success" value="Aprobar" onclick="Aprobacion(@item.Id)" />
                <input id="NumeroOrden" class="form-control" value="@item.NumerOrder" type="hidden" />
            </td>


        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Billing"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Billing"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    


    function Aprobacion(e) {

                   $("#ExtraObservation").val("");

                   var val1 = e;
                   $.ajax({
                        type: "POST",
                        url: "@Url.Action("AjaxViewInformation")",
                       data: { id: val1},
                        dataType: "json",

                        beforeSend: function () {
                            // Show image container
                            //$("#loader").show();
                        },

                        success: function (msg) {
                            if (msg != null) {

                                $("#login").modal('show');
                                $("#serial").text(msg.serial);
                                $("#numerOrder").text(msg.numerOrder);
                                $("#mark").text(msg.mark);
                                $("#model").text(msg.model);
                                if (msg.model == 1) {
                                    $("#kindEquipment").text("Producto");
                                } else if (msg.model == 2) {
                                    $("#kindEquipment").text("Repuesto");
                                } else {
                                    $("#kindEquipment").text("Accesorio");
                                }
                                $("#receptionDate").text(msg.receptionDate);
                                $("#code").val(msg.id);
                                $("#rifSeller").text(msg.distributor.rifSeller);                               
                            } else {
                                $("#serial").text("");
                                $("#numerOrder").text("");
                                $("#mark").text("");
                                $("#model").text("");
                                $("#kindEquipment").text("");
                                $("#receptionDate").text("");
                                $("#code").val("");
                                $("#rifSeller").text(""); 
                            }
                       },

                        complete: function (data) {
                            // Hide image container
                           //$("#loader").hide();
                        },

                        error: function (req, status, error) {
                            //alert("Hubo un error");
                            swal('Error', "Hubo un error");
                        }
                   });





        }


        /*
        $("#btnAprobacion").click(function (e) {
            alert("VALOR: " + e);
        });
        */


        $("#btnclick").click(function () {
            $("#login").modal('show');
        });

        $("#btnhide").click(function () {
            $("#login").modal('hide');
        });


</script>
}
