@model Sisgtfhka.Models.WorkshopModel


@{
    ViewData["Title"] = "Nueva Orden de Taller";
    int RolId = int.Parse(ViewData["RolId"].ToString());
    DateTime dateToday = DateTime.Now;
}


<style>
    body {
        background-color: #f5f5f5;
    }

    .imagePreview {
        width: 100%;
        height: 180px;
        background-position: center center;
        background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
    }

    .btn-primary {
        display: block;
        border-radius: 0px;
        box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
        margin-top: -5px;
    }

    .imgUp {
        margin-bottom: 15px;
    }

    .del {
        position: absolute;
        top: 0px;
        right: 15px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: rgba(255,255,255,0.6);
        cursor: pointer;
    }

    .imgAdd {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #4bd7ef;
        color: #fff;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
        text-align: center;
        line-height: 30px;
        margin-top: 0px;
        cursor: pointer;
        font-size: 15px;
    }

</style>

<h2>Nueva Orden de Taller</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data" id="form">

    <input asp-for="NumerOrder" class="form-control" value="0000" type="hidden" />
    <input asp-for="Verificador" class="form-control" value="000" type="hidden" />
    <input asp-for="WarrantyId" class="form-control" value="" type="hidden" />

    <!--
        <input asp-for="NoPay" id="NoPay" name="NoPay" class="form-control" value="" type="hidden" />
        <div class="modal" tabindex="-1" role="dialog" id="OrdenT">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Orden de Taller</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Orden de Taller?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Pagar" class="btn btn-success" />
                        <input value="No Pagar" class="btn btn-info" id="btnNoPay" name="btnNoPay" type="button" />
                    </div>
                </div>
            </div>
        </div>
    -->
    <!--<input value="Mostrar Modal" class="btn btn-info" id="BtnModal" name="BtnModal" type="button" />-->



    <div class="row">
        @if (RolId != 9)
        {
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="rifDistributor" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="rifDistributor" id="rifDistributor" name="rifDistributor" class="form-control" style="max-width:100%" onkeyup="toUpperChars(this)" />
                        <input asp-for="DistributorId" id="distributorId" name="distributorId" class="form-control" type="hidden" />
                        <input value="Buscar" class="btn btn-info" id="btnBuscar" name="btnBuscar" type="button" />
                    </div>
                    <span asp-validation-for="rifDistributor" class="text-danger"></span>
                    <div id='loader' style='display: none;'>
                        <img src="/images/tenor.gif" width='35px' height='35px'>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="rifDistributor" class="control-label"></label>
                    <div class="form-inline">
                        <input asp-for="rifDistributor" id="rifDistributor" name="rifDistributor" class="form-control" style="max-width:100%" readonly />
                        <input asp-for="DistributorId" id="distributorId" name="distributorId" class="form-control" type="hidden" />
                    </div>
                </div>
            </div>

        }

        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" type="text" id="description" name="description" readonly="true" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="distributorName" class="control-label"></label>
                <input asp-for="distributorName" class="form-control" type="text" id="distributorName" name="distributorName" readonly="true" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="distributorPhone" class="control-label"></label>
                <input asp-for="distributorPhone" class="form-control" type="text" id="distributorPhone" name="distributorPhone" readonly="true" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="distributorAddress" class="control-label"></label>
        <textarea asp-for="distributorAddress" class="form-control" type="text" id="distributorAddress" name="distributorAddress" readonly="true"></textarea>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="distributorSeller" class="control-label"></label>
                <input asp-for="distributorSeller" class="form-control" type="text" id="distributorSeller" name="distributorSeller" readonly="true" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="distributorSellerRif" class="control-label"></label>
                <input asp-for="distributorSellerRif" class="form-control" type="text" id="distributorSellerRif" name="distributorSellerRif" readonly="true" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="KindEquipment" class="control-label"></label>
        @Html.DropDownListFor(model => model.KindEquipment, (IEnumerable<SelectListItem>)ViewBag.Opciones3, "", htmlAttributes: new { @name = "KindEquipment", @id = "KindEquipment", @class = "form-control" })
        <span asp-validation-for="KindEquipment" class="text-danger"></span>
    </div>


    <div id="ModelDiv">
        <div class="form-group">
            <label asp-for="Model" class="control-label"></label>
            @Html.DropDownListFor(model => model.Model, (IEnumerable<SelectListItem>)ViewBag.Opciones6, "", htmlAttributes: new { @name = "Model", @id = "Model", @class = "form-control" })
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Serial" class="control-label"></label>
                <div class="form-inline">
                    <input asp-for="Serial" class="form-control" type="text" id="Serial" name="Serial" onkeyup="toUpperChars(this)" />
                    <span class="text-danger" id="spanCode" name="spanCode"></span>
                    <span asp-validation-for="Serial" class="text-danger"></span>
                    <div id="divAplica" class="form-group">
                        @Html.CheckBoxFor(model => model.Aplica, htmlAttributes: new { @name = "Aplica", @id = "Aplica" }) No Aplica
                    </div>
                    <div id="DivBuscar" class="form-group"><input value="Buscar" class="btn btn-warning" id="btnBuscar2" name="btnBuscar2" type="button" /></div>
                </div>
                <div id='loader2' style='display: none;'>
                    <img src="/images/tenor.gif" width='35px' height='35px'>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="rifFinalClient" class="control-label"></label>
                <input asp-for="rifFinalClient" class="form-control" type="text" id="rifFinalClient" name="rifFinalClient" readonly="true" />
                <input asp-for="AlienationDate" id="AlienationDate" name="AlienationDate" class="form-control" type="text" readonly />
                <span asp-validation-for="rifFinalClient" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="serialRecidivist" class="control-label"></label>
                @Html.CheckBoxFor(model => model.serialRecidivist, htmlAttributes: new { @disabled = "disabled" })
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="warrantyMessage" class="control-label"></label>
                <input asp-for="warrantyMessage" class="form-control" type="text" id="warrantyMessage" name="warrantyMessage" readonly="true" />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="BusinessName" class="control-label"></label>
        <input asp-for="BusinessName" class="form-control" type="text" id="BusinessName" name="BusinessName" readonly="true" />
    </div>

    <div class="form-group">
        <label asp-for="Product" class="control-label"></label>
        <input asp-for="Product" class="form-control" type="text" id="product" name="product" readonly />
        <span asp-validation-for="Product" class="text-danger"></span>
        <input asp-for="Equipment" id="equipment" name="equipment" class="form-control" type="hidden" />
    </div>

    <div class="form-group">
        <label asp-for="Contact" class="control-label"></label>
        <input asp-for="Contact" class="form-control" type="text" id="Contact" name="Contact" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <textarea asp-for="Address" class="form-control" type="text" id="Address" name="Address"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" type="text" />
                <span class="text-danger" id="spanCode" name="spanCode"></span>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="StateOrderId" class="control-label"></label>
                <input asp-for="StateOrderName" class="form-control" type="text" id="StateOrderName" name="StateOrderName" readonly="true" />
                <input asp-for="StateOrderId" id="stateOrderId" name="stateOrderId" class="form-control" type="hidden" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">@Html.DisplayNameFor(model => model.deliveryOrder.DeliveryMode)</label>
            </div>
            <div class="col-md-2">
                @Html.RadioButtonFor(model => model.DeliveryMode, "True", htmlAttributes: new { @name = "DeliveryMode", @id = "DeliveryMode" }) Persona
            </div>
            <div class="col-md-2">
                @Html.RadioButtonFor(model => model.DeliveryMode, "False", htmlAttributes: new { @name = "DeliveryMode", @id = "DeliveryMode" }) Encomienda
            </div>

            <span asp-validation-for="DeliveryMode" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group">

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="LiableId" class="control-label"></label>
                <input asp-for="LiableId" class="form-control" type="text" id="LiableId" name="LiableId" />
                <span asp-validation-for="LiableId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="LiableName" class="control-label"></label>
                <input asp-for="LiableName" class="form-control" type="text" id="LiableName" name="LiableName" />
                <span asp-validation-for="LiableName" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="LiablePhone" class="control-label"></label>
                <input asp-for="LiablePhone" class="form-control" type="text" id="LiablePhone" name="LiablePhone" />
                <span asp-validation-for="LiablePhone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="DeliveryGuideNumber" class="control-label"></label>
                <input asp-for="DeliveryGuideNumber" class="form-control" type="text" id="DeliveryGuideNumber" name="DeliveryGuideNumber" />
                <span asp-validation-for="DeliveryGuideNumber" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="DeliveryCompanyName" class="control-label"></label>
                @Html.DropDownListFor(model => model.DeliveryCompanyName, (IEnumerable<SelectListItem>)ViewBag.Opciones, "", htmlAttributes: new { @name = "DeliveryCompanyName", @id = "DeliveryCompanyName", @class = "form-control" })
                <span asp-validation-for="DeliveryCompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <input asp-for="DeliveryAddress" class="form-control" type="text" id="DeliveryAddress" name="DeliveryAddress" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DeliveryObservations" class="control-label"></label>
        <textarea asp-for="DeliveryObservations" class="form-control" type="text" id="DeliveryObservations" name="DeliveryObservations"></textarea>
        <span asp-validation-for="DeliveryObservations" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Accesorios</label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label"><label asp-for="ObservationTechnical" class="control-label"></label></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            @for (var item = 0; item < Model.lstAccesories.Count; item++)//for (var i=0; i < ViewBag.Opciones6.Count; i++)
            {
                <div class="form-group">
                    @Html.CheckBoxFor(model => model.lstAccesories[item].Selected) @Model.lstAccesories[item].name
                    @Html.HiddenFor(model => model.lstAccesories[item].id)
                    @Html.HiddenFor(model => model.lstAccesories[item].name)
                </div>
            }
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <textarea asp-for="ObservationTechnical" class="form-control" type="text" rows="12"></textarea>
                <span asp-validation-for="ObservationTechnical" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ExtraObservation" class="control-label"></label>
        <textarea asp-for="ExtraObservation" class="form-control" type="text"></textarea>
        <span asp-validation-for="ExtraObservation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerReview" class="control-label"></label>
        <textarea asp-for="CustomerReview" class="form-control" type="text"></textarea>
        <span asp-validation-for="CustomerReview" class="text-danger"></span>
    </div>

    <!--
        <div class="form-group">
            <label asp-for="Files" class=""></label>
            <input asp-for="Files" class="form-control" name="files" multiple="multiple" type="file" />
        </div>
    -->
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Foto</label>
            </div>
        </div>
    </div>

    <div class="d-inline">

        <div class="container">
            <div class="row">
                <div class="col-sm-2 imgUp">
                    <div class="imagePreview"></div>
                    <label class="btn btn-primary">
                        Subir<input type="file" class="uploadFile img" id="filePicture" name="filePicture" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                    </label>
                </div><!-- col-2 -->
                <i class="fa fa-plus imgAdd"></i>
            </div><!-- row -->
        </div><!-- container -->

    </div>

    <div class="row">
        <div class="form-group">

        </div>
    </div>
    <div class="form-group">
        <!--<input type="submit" value="Crear" class="btn btn-success" id="btn" />
        <input type="button" value="Crear" class="btn btn-success" id="btn" />-->
        <input type="submit" value="Crear" class="btn btn-success" />
    </div>
</form>

<div>
    <a asp-action="Index">Regresar</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function toUpperChars(e) {
            e.value = e.value.toUpperCase();
        }


        $(document).ready(function () {


           /* $("#form").submit(function () {
                alert("No Pay!");
                $("#NoPay").val("YES");
            });*/

            /*
            $("#btnNoPay").click(function () {
                $("#NoPay").val("YES");
                $("#form").submit();
            });*/

            $("#btn").click(function () {
                $("#OrdenT").modal('show');
            });
            $("#btnNoPagar").click(function () {
                $("#OrdenT").modal('hide');
            });


                $("#AlienationDate").hide();

                if ($("#LiableId").val() == 0) {
                    $("#LiableId").val(null);
                }

                var checkOption = $("#Aplica").is(':checked');
                if (checkOption) {
                    $("#Serial").prop("readonly", true);
                    $("#Serial").val(null);
                }

                var ddlsource = $("#KindEquipment").val();
                if (ddlsource == 3) {
                    $("#ModelDiv").show();
                    $("#DivBuscar").hide();
                    $("#divAplica").show();                
                } else {
                    $("#ModelDiv").hide();
                    $("#DivBuscar").show();
                    $("#divAplica").hide(); 
                }

                var radio = $("input[name='DeliveryMode']:checked").val();
                if (radio == "True") {
                    $("#DeliveryGuideNumber").prop("readonly", true);
                    $("#DeliveryGuideNumber").val(null);
                    $('#DeliveryCompanyName').prop('disabled', true);
                    $("#DeliveryCompanyName").val(null).change();
                    $("#DeliveryAddress").prop("readonly", true);
                    $("#DeliveryAddress").val(null);
                    $("#DeliveryObservations").prop("readonly", true);
                    $("#DeliveryObservations").val(null);
                    $("#DeliveryDispatchDate").prop("readonly", true);
                    $("#DeliveryDispatchDate").val(null);
                }

                $('input:radio').change(function () {
                    var is_external = $("input[name='DeliveryMode']:checked").val();
                    if (is_external == "True") {
                        $('#DeliveryGuideNumber').attr('readonly', true);
                        $("#DeliveryGuideNumber").val(null);
                        $('#DeliveryCompanyName').prop('disabled', true);
                        $("#DeliveryAddress").prop("readonly", true);
                        $("#DeliveryAddress").val(null);
                        $("#DeliveryObservations").prop("readonly", true);
                        $("#DeliveryObservations").val(null);
                        $("#DeliveryDispatchDate").prop("readonly", true);
                        $("#DeliveryDispatchDate").val(null);
                    } else {
                        $("#DeliveryGuideNumber").prop("readonly", false);
                        $("#DeliveryGuideNumber").val(null);
                        $('#DeliveryCompanyName').prop('disabled', false);
                        $("#DeliveryCompanyName").val(null).change();
                        $("#DeliveryAddress").prop("readonly", false);
                        $("#DeliveryAddress").val(null);
                        $("#DeliveryObservations").prop("readonly", false);
                        $("#DeliveryObservations").val(null);
                        $("#DeliveryDispatchDate").prop("readonly", false);
                        $("#DeliveryDispatchDate").val(null);
                    }

                });

               $('#btnBuscar').click(function () {
                   var val1 = $('input[name=rifDistributor]').val();
                   $.ajax({
                        type: "POST",
                        url: "@Url.Action("FindDistributorRif")",
                        data: { rif: val1},
                        dataType: "json",

                        beforeSend: function () {
                            // Show image container
                            $("#loader").show();
                        },

                        success: function (msg) {
                            if (msg != null) {
                                if (msg.enable == 1) {
                                    $('input[name=description]').val(msg.description);
                                    $('input[name=distributorId]').val(msg.id);

                                    $('input[name=distributorName]').val(msg.represent);
                                    $('input[name=distributorPhone]').val(msg.phone);
                                    $('textarea[name=distributorAddress]').val(msg.address);

                                    $('input[name=distributorSeller]').val(msg.nameSeller);
                                    $('input[name=distributorSellerRif]').val(msg.rifSeller);


                                } else {
                                    alert("El Distribuidor " + val1 + " esta Inactivo");
                                    document.getElementById('description').value = "";
                                    document.getElementById('distributorId').value = 0;

                                    document.getElementById('distributorName').value = "";
                                    document.getElementById('distributorPhone').value = "";
                                    document.getElementById('distributorAddress').value = "";

                                    document.getElementById('distributorSeller').value = "";
                                    document.getElementById('distributorSellerRif').value = "";
                                }
                            } else {
                                document.getElementById('description').value = "";
                                document.getElementById('distributorId').value = 0;

                                document.getElementById('distributorName').value = "";
                                document.getElementById('distributorPhone').value = "";
                                document.getElementById('distributorAddress').value = "";

                                document.getElementById('distributorSeller').value = "";
                                document.getElementById('distributorSellerRif').value = "";
                            }
                       },

                        complete: function (data) {
                            // Hide image container
                            $("#loader").hide();
                        },

                        error: function (req, status, error) {
                            //alert("Hubo un error");
                            swal('Error', "Hubo un error");
                        }
                   });
            });


           $('#btnBuscar2').click(function () {

               var kindEquip = $("#KindEquipment").val();

               if ((kindEquip == "")) {
                   //alert("Debe seleccionar en Tipo de Equipo un Producto o un Repuesto");
                   swal('', "Debe seleccionar en Tipo de Equipo un Producto o un Repuesto", "info");
                   $("#Serial").val(null);
                   return;
               }

               var code = $("#Serial").val();

               if ((code == "")) {
                   swal('', "Debe asignar un serial", "info");
                   $("#Serial").val(null);
                   return;
               }

                   $.ajax({
                        type: "POST",
                        url: "@Url.Action("AjaxValidation")",
                        data: { Serial: code, KindEquipment: $("#KindEquipment").val() },
                        dataType: "json",

                        beforeSend: function () {
                            // Show image container
                            $("#loader2").show();
                        },

                        success: function (response) {
                            if (response.enable == true) {
                                $("#rifFinalClient").val(response.rif);
                                if (response.rif != null) {
                                    $("#AlienationDate").show();
                                }
                                
                                $("#AlienationDate").val(response.alienationDate);
                                $("#product").val(response.product);
                                $("#equipment").val(response.equipment);
                                $("#BusinessName").val(response.businessName);
                                $("#warrantyMessage").val(response.warrantyMessage);
                                $("#WarrantyId").val(response.warrantyId);

                                if (response.recidivist == true)
                                    $("#serialRecidivist").prop('checked', true);
                                else
                                    $("#serialRecidivist").prop('checked', false);

                            } else {
                                $("#AlienationDate").hide();
                                $("#rifFinalClient").val("");
                                $("#product").val("");
                                $("#equipment").val("");
                                $("#Serial").val("");
                                $("#BusinessName").val("");
                                $("#warrantyMessage").val("");
                                $("#WarrantyId").val("");
                                $("#serialRecidivist").prop('checked', false);

                                if (response.isDistributor == false) {
                                    //alert("El serial " + code + " No es del Distribuidor");
                                    swal('', "El serial " + code + " No es del Distribuidor.", "info");
                                    return;
                                }
                                if (response.serialValid == false) {

                                    swal('', "El serial " + code + " No esta en inventario.", "info");                                
                                    return;
                                }
                                if (response.serialInWorkshop == true) {
                                    swal('', "El serial " + code + " ingresado tiene una orden activa", "info");
                                    return;
                                }
                                /*if (response.serialValid == true && response.model == null) {
                                    swal('', "El serial " + code + " No esta en inventario. Por favor determine un modelo de Equipo relacionado al mismo.", "info");

                                    var ddlsource = $("#KindEquipment").val();

                                    if (ddlsource == 2) {
                                        $("#Serial").val(code);
                                        $("#ModelDiv").show();
                                    }
                                    return;
                                }*/
                            }
                       },

                       complete: function (data) {
                           // Hide image container
                           $("#loader2").hide();
                       },

                        error: function (req, status, error) {
                            //alert("Hubo un error");
                            swal('Error', "Hubo un error");
                        }
                   });
           });


                $("#Aplica").change(function () {
                    if (this.checked) {
                        $("#Serial").prop("readonly", true);
                        $("#Serial").val(null);
                    } else {
                        $("#Serial").prop("readonly", false);
                        $("#Serial").val(null);
                    }
                });



                $('#KindEquipment').change(function () {
                   
                    $("#Serial").val(null);
                    var ddlsource = $("#KindEquipment").val();

                    $("#Serial").prop("readonly", false);
                    $("#Aplica").prop("checked", false);
                    $("#BusinessName").val(null);
                    $("#rifFinalClient").val(null);
                    $("#product").val(null);
                    $("#warrantyMessage").val("");

                    if (ddlsource == 3) {
                        $("#ModelDiv").show();
                        $("#AlienationDate").hide();
                        $("#DivBuscar").hide();
                        $("#divAplica").show();
                    } else {
                        $("#ModelDiv").hide();
                        $("#AlienationDate").hide();
                        $("#DivBuscar").show();
                        $("#divAplica").hide();
                    }

                });
    });


        $(".imgAdd").click(function () {
            $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Subir<input asp-for="Files"id="filePicture" name="filePicture"  type="file" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
        });

        $(document).on("click", "i.del", function () {
            $(this).parent().remove();
        });

        $(function () {
            $(document).on("change", ".uploadFile", function () {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function () { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }

            });
        });


    </script>
}
