@model Sisgtfhka.Models.UserModel

@{
    ViewData["Title"] = "Borrar Usuario";
}

<h2>Borrar Usuario</h2>

<h3>Estás seguro que quieres eliminar este Usuario?</h3>
<div>
    <h4>Datos del Usuario a borrar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RolId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creation_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creation_date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
