@model Sisgtfhka.Models.UserModel

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<div>
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RolId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creation_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creation_date)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Regresar</a>
</div>
