@model Sisgtfhka.Models.SerialReplacementModel

@{
    ViewData["Title"] = "Detalles del Repuesto";
}

<h2>Detalles del Repuesto</h2>

<div>
    <h4>Detalles del Repuesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Replacement.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Replacement.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Replacement.markId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Replacement.Model.Mark.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Replacement.modelId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Replacement.Model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DistributorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distributor.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateSale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Index">Regresar</a>
</div>
